html, body {
  height: 100%;
  background-color: #282a36;
  color: #f8f8f2;
  font-family: monospace;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 100px;
}

h4 {
  font-size: 20px;
}

#top {
  height: 25%;
  text-align: center;
}

#top h2 {
  padding-top: 130px;
}

#middle {
  display: flex;
  height: 50%;
  justify-content: space-around;
  align-items: stretch;
  color: #44475a;
}

#player-div, #computer-div{
  flex: 1 1 35%;
  position: relative;
}

#player-div img, #computer-div img {
  display: block;
  position: absolute;
  top: 50%;
  margin: -80px 0 0 -80px;
}

#player-div img {
  left: 70%;
}

#computer-div img {
  left: 30%;
  transform: scaleX(-1);
}

.player-shake {
  animation-name: player-shake;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transform-origin: 0% 50%;
}

@keyframes player-shake {
  10% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  70% {
    transform: rotate(20deg);
  }
  90% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.computer-shake {
  animation-name: computer-shake;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transform-origin: 100% 50%;
}

@keyframes computer-shake {
  10% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  70% {
    transform: rotate(-20deg);
  }
  90% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#score-div {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#score-div div {
  text-align: center;
}

#score-container {
  min-height: 20px;
}

#bottom {
  height: 25%;
  text-align: center;
}

button {
  margin: 20px 20px;
  padding: 20px;
  width: 10%;
  border: 4px solid;
  background-color: #f8f8f2;
  transition: border 0.4s ease 0s, color 0.4s ease 0s, background-color 0.4s ease 0s;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

#rock-button, #rock-button:disabled {
  color: #ff5555;
  border-color: #ff5555;
}

#rock-button:hover:enabled, .rock-clicked {
  background-color: #ff5555;
  color: #ffffff !important;
  transition: all 0.4s ease 0s;
}

#paper-button, #paper-button:disabled {
  color: #bd93f9;
  border-color: #bd93f9;
}

#paper-button:hover:enabled, .paper-clicked {
  background-color: #bd93f9;
  color: #ffffff !important;
  transition: all 0.4s ease 0s;
}

#scissor-button, #scissor-button:disabled {
  color: #ffb87c;
  border-color: #ffb86c;
}

#scissor-button:hover:enabled, .scissor-clicked {
  background-color: #ffb86c;
  color: #ffffff !important;
  transition: all 0.4s ease 0s;
}

